{{- $variant := .Scratch.Get "variant" -}}

<table class="table-fixed" style="display:table; width: 100%">
    <thead>
    <tr>
        <th class="w-96">
            <form class="max-w-sm mx-auto">
                <label for="select-theme" class="p-4">Theme</label>
                <select name="select-theme" id="select-theme"
                        class="p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="default">default</option>
                    {{ range $themes := .Page.Site.Data.themes }}
                    <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
            </form>
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>
    </thead>

    <tbody>

    {{ range $variants := index .Page.Site.Data.variants $variant }}
    <tr class="template-variant template-{{ .templateName }}-{{ .variantName }}" id="template-{{ .templateName }}-{{ .variantName }}">
        <td>
        <img class="rounded-none" loading="lazy"
             src="{{ absURL .previewPath  }}"
             data-original-src="{{ absURL .previewPath  }}"
             alt="{{ .variantName }}"
             {{ if gt (len .themePreviewPaths) 1 }}
             data-themeable="true"
             data-themes="{{ .themePreviewPaths | jsonify }}"
             {{ end }}
        />
        </td>
        <td>
        <b>Variant:</b> {{ .variantName }}<br/>
            <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
                {{ partial "icon.html" (dict "name" "palette" "title" "Artwork" "attributes" "") }}
                Artwork:
                {{ if .artwork }}
                    Yes
                {{ else }}
                    No
                {{ end }}
            </span>

            <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
                {{ partial "icon.html" (dict "name" "folder" "title" "Folder" "attributes" "") }}
                Folder:
                {{ if .folder }}
                    Yes
                {{ else }}
                    No
                {{ end }}
            </span>

            {{ partial "badge.html" (dict "text" .type "title" "type" "color" "green") }}
            {{ partial "badge.html" (dict "text" .interface "title" "interface" "color" "yellow") }}

            <br/>
            <br/>

            {{ .notes | safeHTML }}
        </td>
        <td>
            {{ if .downloadLink }}
            <a href="{{ .downloadLink }}" class="not-prose text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Download Pack</a>
            {{ end }}
        </td>
    </tr>
    {{ end }}

    </tbody>
</table>