{{- $variant := .Scratch.Get "variant" -}}

<table class="table-fixed" style="display:table; width: 100%">
    <thead>
    <tr>
        <th class="w-96">
            <form class="max-w-sm mx-auto">
                <label for="select-theme" class="p-4">Theme</label>
                <select name="select-theme" id="select-theme"
                        class="p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="default">default</option>
                    {{ range $themes := .Page.Site.Data.themes }}
                    <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
            </form>
        </th>
        <th>
            Variant
        </th>
        <th>{{ partial "icon.html" (dict "name" "palette" "title" "Creates Rom Artwork?") }} </th>
        <th>{{ partial "icon.html" (dict "name" "folder" "title" "Creates Folder Artwork?") }} </th>
        <th><a href="{{ ref . "templates/types" }}">types</a></th>
    </tr>
    </thead>

    <tbody>

    {{ range $variants := index .Page.Site.Data.variants $variant }}
    <tr class="template-variant template-{{ .templateName }}-{{ .variantName }}" id="template-{{ .templateName }}-{{ .variantName }}">
        <td {{ if ne .notes "" }} rowspan="1" {{ else }} rowspan="2" {{ end }}>
        <img class="rounded-none" loading="lazy"
             src="{{ absURL .previewPath  }}"
             data-original-src="{{ absURL .previewPath  }}"
             alt="{{ .variantName }}"
             {{ if gt (len .themePreviewPaths) 1 }}
             data-themeable="true"
             data-themes="{{ .themePreviewPaths | jsonify }}"
             {{ end }}
        />
        </td>
        <td {{ if ne .notes "" }} rowspan="1" {{ else }} rowspan="2" {{ end }}>
        {{ .variantName }}
        </td>

        <td {{ if ne .notes "" }} rowspan="1" {{ else }} rowspan="2" {{ end }}>
        {{ if .artwork }}
        {{ partial "icon.html" (dict "name" "check" "title" "yes" "attributes" "color=green") }}
        {{ else }}
        {{ partial "icon.html" (dict "name" "x-mark" "title" "no" "attributes" "color=red") }}
        {{ end }}
        </td>

        <td {{ if ne .notes "" }} rowspan="1" {{ else }} rowspan="2" {{ end }}>
        {{ if .folder }}
        {{ partial "icon.html" (dict "name" "check" "title" "yes" "attributes" "color=green") }}
        {{ else }}
        {{ partial "icon.html" (dict "name" "x-mark" "title" "no" "attributes" "color=red") }}
        {{ end }}
        </td>

        <td {{ if ne .notes "" }} rowspan="1" {{ else }} rowspan="2" {{ end }}>
        {{ partial "badge.html" (dict "text" .type "title" "type" "color" "green") }}
        {{ partial "badge.html" (dict "text" .interface "title" "interface" "color" "yellow") }}
        </td>
    </tr>
    <tr class="template-variant template-{{ .templateName }}-{{ .variantName }}">
        {{ if ne .notes "" }}
        <td colspan="5">{{ .notes }}</td>
        {{ end }}

    </tr>
    {{ end }}

    </tbody>
</table>