{{ define "main" }}
    <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
        {{ partial "sidebar.html" (dict "context" .) }}
        <article
                class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
            <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-pt-4 ltr:hx-pl-12 ltr:hx-pl-6 pr-0">
                {{ partial "breadcrumb.html" . }}
                <div class="content">
                    <h1>{{ .Title }}</h1>
                    {{ .Content }}
                </div>
                {{ partial "components/last-updated.html" . }}
                {{ partial "components/pager.html" . }}
                {{ partial "components/comments.html" . }}
            </main>
        </article>
    </div>

    <script>
        // switch image on theme change
        var themeSelect = document.getElementById("select-theme");
        themeSelect.addEventListener("change", function () {
            let theme = event.target.value;
            let images = document.querySelectorAll('[data-themeable]');
            let imagesArray = [...images];
            imagesArray.forEach(img => {
                if (theme === 'default') {
                    var newSrc = img.getAttribute('data-original-src');
                } else {
                    var newSrc = JSON.parse(img.dataset.themes)[theme];
                }
                img.src = newSrc;
            });
        });
    </script>


{{ end }}